@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@font-face {
    font-family: heading;
    src: url(fonts/AbstractStyle-3z8rL.ttf);
}

@font-face {
    font-family: hellix;
    src: url(fonts/Hellix-SemiBold.ttf);
}

body{
    --primary-color: #262626;
    --secondary-color: #f8f8f8;
    --grey-color: #D3D3D3;
    --header-color: #202020;
    --blue-color: #629AD7;
    --primary-font: "heading", sans-serif;
    --secondary-font: "hellix", sans-serif;
    --thin-font: 'Inter', sans-serif;
    overflow-x: hidden;
    
}

.grid-container{
    display: grid;
    grid-template-rows: 0.6fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left-bar{
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4%;
}

.line{
    position: absolute;
    bottom: 0;
    background-color: var(--blue-color);
    width: 1.5px;
    height: 150px;
}

.github-logo-left{
    position: absolute;
    bottom: 160px;
}

.codepen-logo{
    position: absolute;
    bottom: 210px;
}

.instagram-logo{
    position: absolute;
    bottom: 260px;
}

.discord-logo{
    position: absolute;
    bottom: 310px;
}

.icon{
    transition: transform .2s;
    cursor: pointer;
}

.icon:hover{
    transform: scale(.8);
}

.right-bar{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 4%;
}

.line2{
    position: absolute;
    bottom: 0;
    background-color: var(--blue-color);
    width: 1.5px;
    height: 150px;
    right: 62%;
}

.email{
    font-family: var(--secondary-font);
    color: var(--blue-color);
    position: absolute;
    bottom: 230px;
    right: -27px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.light-mode{
    --primary-color: #f8f8f8;
    --secondary-color: #262626;
    --header-color: #efefef;
    --grey-color: #262626;
}

body{
    background-color: var(--primary-color);
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    width: 100%;
    height: 70px;
    padding-top: 28px;
    padding-left: 28px;
    margin: -10px;
    margin-top: -10px;
    z-index: 2;
}

.left > h1{
    margin: 0;
    color: var(--secondary-color);
    font-family: var(--primary-font)
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}

.main-left{
    width: 45%;
}

.linkBisSite{
    cursor: pointer;
    color: var(--blue-color);
    font-family: var(--secondary-font);
    text-decoration: none;
    background-image: linear-gradient(#629AD7, #629AD7);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    }
.linkBisSite:hover,
.linkBisSite:focus,
.linkBisSite:active {
    background-size: 100% 0.1em;
}

.btn-link{
    font-family: var(--secondary-font);
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(98, 154, 215, 0);
    color: var(--grey-color);
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--blue-color);
    transition: background-color .2s;
    cursor: pointer;
}   

.btn-link:hover{
    background-color: rgba(98, 154, 215, 0.15);
}

.profile-image{
    height: 42.5vh;
    width: 42.5vh;
    margin-left: 40px;
}

.main-right{
    background-color: var(--secondary-color);
    width: 50vh;
    height: 50vh;
    border-radius: 100vh;
    margin: 0;
}

.welcome_text{
    font-family: var(--secondary-font);
    font-size: 55px;
    color: var(--grey-color);
    text-align: left;
}

.thin_welcome{
    font-size: 20px;
    font-family: var(--thin-font);
    color: var(--grey-color);
    text-align: left;
}

.welcome_text_start{
    font-family: var(--secondary-font);
    color: var(--grey-color);
    text-align: left;
    font-size: 25px;
    margin-bottom: -30px;
}

span{
    color: var(--blue-color);
}

.wave{
    width: 90%;
    margin-bottom: -70px;
}

.about-container{
    margin-left: 100px;
    width: 90%;
}

.about_header{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 50px;
}

.about_text{
    width: 80%;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 30px;
}

.about{
    background-color: var(--secondary-color);
    width: 90%;
    height: auto; /*135vh*/
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.skillset_header{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 50px;
}


/*Skillset*/

.skillset-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
}

.skill{
    width: 200px;
    height: 200px;
    flex: 0 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill>img{
    height: 200px;
    width: 200px;
    transition: transform .2s;
    border-radius: 30px;
}

.skill>img:hover{
    transform: scale(.8);
}

.skillset-huge-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.skillset-right>p{
    width: 53vh;
    text-align: right;
    margin-right: 100px;
    font-size: 30px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}


/*Projects*/

.projects-container{
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.projects{
    margin-left: 28px;
}

.project{
    width: 300px;
    height: 200px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    flex: 1 0 21%;
}

.project>h1{
    font-family: var(--secondary-font);
    margin: 0;
    color: var(--primary-color);
}

.project>p{
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

.project>a{
    font-family: var(--secondary-font);
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: var(--blue-color);
}

.projects-heading{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10vh;
}

.github-logo{
    transition: transform .2s;
    cursor: pointer;
}

.github-logo:hover{
    transform: scale(1.1);
}

.bis-project-container{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.bis-project{
    width: 400px;
    height: 300px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    flex: 1 0 21%;
}

.bis-project>h1{
    font-family: var(--secondary-font);
    margin: 0;
    color: var(--primary-color);
}

.bis-project>p{
    font-family: var(--secondary-font);
    text-align: center;
    color: var(--primary-color);
    margin: 0;
}

.bis-project>a{
    font-family: var(--secondary-font);
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: var(--blue-color);
}

.mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
}

/*
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.bg-contact{
    background-color: var(--header-color);
    width: 90%;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -400px;
}

.foreground-contact{
    width: 80%;
    background-color: var(--blue-color);
    height: 250px;
    border-radius: 20px;
    margin-bottom: -80px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foreground-contact>h2{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 35px;
}

.foreground-contact>p{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 20px;
}

.button-contact{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
    transition: transform .2s;
}

.button-contact:hover{
    transform: scale(.9);
}

.button-contact>p{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
}
*/

@media only screen and (max-width: 1000px) {
    .skill{
        display: none;
    }
}

@media only screen and (max-width: 1400px){
    .welcome_text{
        width: 50%;
    }
}
